{% extends "ui/base.html" %}

{% block title %}
<div class="grid_11 alpha">
    <span class="title">Welcome to the Notemonk community!</span>&nbsp;
</div>
{% endblock title %}

{% block content %}

<!-- spacing -->
<div class="grid_11 alpha">
    <br/>
</div>

<p>You are now an integral part of a growing Notemonk community. We wish you hours of learning.</p>

<div class="subtitle"><a href="/user/edit/">Update your Profile</a></div>
<p>We highly recommend that you <a href="/user/edit/"><strong>update your profile</strong></a>. An updated profile increases your visibility in the Notemonk community which creates more opportunities for you to learn and grow.
<br/>

{% endblock content %}
