{% extends "ui/base.html" %}

{% block title %}

<div class="grid_11 alpha">
    <span class="title">Registration Complete!</span>&nbsp;
</div>

{% endblock title %}

{% block content %}

<!-- spacing -->
<div class="grid_11 alpha">
    <br/>
</div>

<div class="subtitle">Activate through Email</div>
    <p>
        We have sent an activation email to your account.
        Please click on the link in the mail to activate your account.
        It may take a few minutes for the email to appear in your inbox.
    <p>

    <p>
        In the meanwhile you can continue browsing through Notemonk. <a href="/">Home page</a>
    </p>

{% endblock content %}

{% block sidebar %}
{% endblock sidebar %}
