{% extends "ui/base.html" %}
{% load tags %}

{% block title %}
<span class="title">Thank you!</span>
{% endblock title %}

{% block content %}
We have received your feedback. Thanks for taking time to help us improve.
{% endblock content %}

{% block sidebar %}
    Please tell us what you think about Notemonk.
    <ul>
        <li>Complaints and criticism
        <li>Feature requests
        <li>Suggestions
        <li>Commendations
        <li>Thank you notes :)
    </ul>

{% endblock sidebar %}
