{% extends "ui/base.html" %}
{% load tags %}

{% block title %}
<span class="title">Feedback - Notemonk</span>
{% endblock title %}

{% block content %}
    
    <form action="/feedback/" method="POST">
        <table width="100%" class="form">
            {{ form.as_table }}
        </table>
        <div align="center">
            <input type="submit" value="Update"/>
        </div>
    </form>

{% endblock content %}

{% block sidebar %}
    Please tell us what you think about Notemonk.
    <ul>
        <li>Complaints and criticism
        <li>Feature requests
        <li>Suggestions
        <li>Commendations
        <li>Thank you notes :)
    </ul>

{% endblock sidebar %}
