{% extends "ui/base.html" %}
{% load tags %}

{% block title %}
    <h1 class="group-title">Andhra Pradesh Intermediate (IPE) Books</h1>
{% endblock title %}

{% block content %}

   <span style="color:#333" class="group-caption"> All <strong>IPE Text books</strong> listed below are available for <strong>download</strong>.</span>

    {% bookshelf 'First Year' 'all' 'Andhra Pradesh, 1st' 8 %}
    {% bookshelf 'Second Year' 'all' 'Andhra Pradesh, 2nd' 8 %}

{% endblock content %}

{% block sidebar %}

    Notemonk is an exciting new way to learn your textbooks.
    <ul>
        <li><strong>Download books</strong> to your computer
        <li><strong>Ask questions</strong> on any topic in the text book
        <li><strong>Watch videos</strong> related to difficult topics
        <li><strong>Prepare notes</strong> for quick reference before exams
    </ul>
    <div align="center">
        <img alt="Notemonk" src="/static/images/notemonk_mascot_medium.png"/>
    </div>
    
    <div class="grid_5 alpha" style="margin-left:-10px">
       <!-- End: adBrite -->
        <div id='div-gpt-ad-1319891242082-0' style='width:300px; height:250px;'>
            <script type='text/javascript'>
                googletag.cmd.push(function() { googletag.display('div-gpt-ad-1319891242082-0'); });
            </script>
        </div>
    </div>
 
{% endblock sidebar %}
