{% extends "ui/base.html" %}
{% load tags %}

{% block title %}
    <h1 class="group-title">NCERT Books</h1>
{% endblock title %}

{% block content %}

   <span style="color:#333" class="group-caption"> All <strong>NCERT Text books</strong> listed below are available for <strong>download</strong>.</span>

    {% bookshelf 'Class 12' 'all' 'NCERT, 12th' 8 %}
    {% bookshelf 'Class 11' 'all' 'NCERT, 11th' 8 %}
    {% bookshelf 'Class 10' 'all' 'NCERT, 10th' 8 %}
    {% bookshelf 'Class 9' 'all' 'NCERT, 9th' 8 %}
    
    {% bookshelf 'Class 8' 'all' 'NCERT, 8th' 8 %}
    {% bookshelf 'Class 7' 'all' 'NCERT, 7th' 8 %}
    {% bookshelf 'Class 6' 'all' 'NCERT, 6th' 8 %}

    {% bookshelf 'Class 5' 'all' 'NCERT, 5th' 8 %}
    {% bookshelf 'Class 4' 'all' 'NCERT, 4th' 8 %}
    {% bookshelf 'Class 3' 'all' 'NCERT, 3rd' 8 %}
    {% bookshelf 'Class 2' 'all' 'NCERT, 2nd' 8 %}
    {% bookshelf 'Class 1' 'all' 'NCERT, 1st' 8 %}

{% endblock content %}

{% block sidebar %}

    Notemonk is an exciting new way to learn your textbooks.
    <ul>
        <li><strong>Download books</strong> to your computer
        <li><strong>Ask questions</strong> on any topic in the text book
        <li><strong>Watch videos</strong> related to difficult topics
        <li><strong>Prepare notes</strong> for quick reference before exams
    </ul>
    <div align="center">
        <img alt="Notemonk" src="/static/images/notemonk_mascot_medium.png"/>
    </div>
    <div class="grid_5 omega gad">

       <script type="text/javascript"><!--
       google_ad_client = "ca-pub-2945383363046281";
       /* 300 x 250, notemonk box listing page bottom */
       google_ad_slot = "9649030723";
       google_ad_width = 300;
       google_ad_height = 250;
       //-->
       </script>
       <script type="text/javascript"
       src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
       </script>

    </div>


{% endblock sidebar %}
